* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

.container {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
}

.rodape {
    
}